/* Write your CSS Here. */
.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  padding-top: 20px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.4); 
}

.score {
  font-size: 25px;
}

/* Modals off at Load */
#gameArea, #congratsMessage, #gameOverMessage, #categorySelection {
  display: none;
}  

#categoryContent {
  flex-flow: row wrap;
}

#clue {
  width: 350px;
  margin: 25px auto;
}

#userAnswer {
  width: 300px;
  height: 35px;
  margin: 25px auto;
}

#submitAnswer {
  margin: 25px auto;
}

#gameImg {
  margin-top: 15px;
}

#startButton {
  margin-top: 40px;
}

.modal-header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 450px;
  padding: 20px;
  border: 1px solid #888;
  height: 25px;
  margin: 10px auto;
}

.modal-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin: auto;
  width: 450px;
  height: 500px;
  padding: 20px;
  border: 1px solid #888;
}

.modal-footer {
  display: flex;
  flex-flow: column wrap;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 450px;
  padding: 20px;
  border: 1px solid #888;
  height: 25px;
  margin: 10px auto;
}

body {
  background-color: #212121;
  font-family: "Courier New", monospace;
  color: #f5f5f5;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f5f5f5;
  background-color: black;
  cursor: pointer;
  border: 3px solid #f5f5f5;
  padding: 0.25em 0.5em;
  margin: 5px;
  box-shadow: 1px 1px 0px 0px #f5f5f5, 2px 2px 0px 0px #f5f5f5, 3px 3px 0px 0px #f5f5f5, 4px 4px 0px 0px #f5f5f5, 5px 5px 0px 0px #f5f5f5;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  box-shadow: 0px 0px 0px 0px #9E9E9E;
  top: 5px;
  left: 5px;
}

